fileFormatVersion: 2
guid: 4a30cbcb9bb3e0b41823e663504d8534
timeCreated: 1506416267
licenseType: Pro
MonoImporter:
  serializedVersion: 2
  defaultReferences: []
  executionOrder: 0
  icon: {instanceID: 0}
  userData: 
  assetBundleName: 
  assetBundleVariant: 
