fileFormatVersion: 2
guid: dbb4abf5d8a008e41881db1c88dfe737
timeCreated: 1506416416
licenseType: Pro
MonoImporter:
  serializedVersion: 2
  defaultReferences: []
  executionOrder: 0
  icon: {instanceID: 0}
  userData: 
  assetBundleName: 
  assetBundleVariant: 
